@font-face {
  font-family: "Berkeley Mono";
  font-style: monospace;
  font-weight: normal;
  font-display: swap;
  src:
    url("./BerkeleyMono-Regular.woff2") format("woff2"),
    url("./BerkeleyMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "ITCGaramondStdLtCond";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./ITCGaramondStdLtCond.woff2") format("woff2");
}

@font-face {
  font-family: "GT Sectra Display";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./GT-Sectra-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Book";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./GT-Sectra-Book.woff") format("woff");
}

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  body {
    font-family: "GT Sectra Book", serif;
  }

  pre,
  code {
    font-family: "Berkeley Mono", monospace;
  }
}
